<%= render 'properties/menu' %>

</br>

<%= form_tag("/properties/new", method: "post") do %>
<%= submit_tag("New") %>
<% end %>

</br>
<table border="2">
  <tr>
    <th>Property</th>
    <th>Details</th>
    <th>Delete</th>
  </tr>

  <% @properties.each do |item| %>
    <tr>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= form_tag("/properties/edit", method: "patch") do %>
          <%= hidden_field_tag("id_property",item.id) %>
          <%= submit_tag("Edit by form") %>
        <% end %>
      </td>
      <td>
        delete
      </td>
    </tr>
  <% end %>
</table>
