<%= render 'properties/menu' %>

<h3>New property</h3>


<%= form_tag("/properties/save", method: "post") do %>
  <%= label_tag(:name,"Property name: ") %>
  <%= text_field_tag(:name) %>
  </br>

  <%= label_tag(:regnum,"Land and mortgage register number:") %>
  <%= text_field_tag(":regnum") %>
  </br>

  <%= label_tag(:info,"Description: ") %>
  <%= text_area_tag(:info,"Enter additional information here ...", size: "30x6") %>

  <%= submit_tag("Save") %>
<% end %>
