<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
    <li><%= link_to "Companies: add new2", companies_new2_path %></li>
  </ul>
</nav>
</div>

<div class="container">
<h1>Companies#delete</h1>
<p>Find me in app/views/companies/delete.html.erb</p>

<p>Komunikat id_delete = <%= @id_delete %></p>
<p>Komunikat name = <%= @name %></p>
<p>Komunikat info = <%= @info %></p>

<p>Are you sure you want to delete company <%= @name %> ? </p>

<table>
<tr>
  <td>
  <%= form_tag("/companies/list", method: "get") do %>
    <%= submit_tag("Back to companies list") %>
  <% end %>
  </td>
</tr>
</table>

</div>
