<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
    <li><%= link_to "Companies: add new2", companies_new2_path %></li>
  </ul>
</nav>
</div>


<div class="container">
<h1>Companies#Edit2</h1>
<p>Find me in app/views/companies/edit2.html.erb</p>

<%= form_tag("/companies/edit", method: "post") do %>
  <%= label_tag(:n, "Name: ") %>
  <%= text_field_tag(:n,value="1") %>
  </br>

  <%= label_tag(:m, "NIP: ") %>
  <%= text_field_tag(:m,value="1") %>
  </br>

  <%= label_tag(:p,"Postal Code: ") %>
  <%= text_field_tag(:p,value="1") %>
  </br>

  <%= label_tag(:c,"City: ") %>
  <%= text_field_tag(:c,value="1") %>
  </br>

  <%= label_tag(:s,"Street: ") %>
  <%= text_field_tag(:s,value="1") %>
  </br>

  <%= hidden_field_tag(:id,value="1"    ) %>

  <%= submit_tag("Save changes") %>
<% end %>

<p>Flaga:<%= @changed_flag %></p>
<p>ITEM.NAME: <%= @item %>
<% #byebug %>

</div>
