<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
  </ul>
</nav>
</div>


<div class="container">
<h1>Companies#Edit</h1>
<p>Find me in app/views/companies/list.html.erb</p>

<%= form_tag("/companies/edit", method: "post") do %>
  <%= label_tag(:n, "Name: ") %>
  <%= text_field_tag(:n,value=@company.name) %>
  </br>

  <%= label_tag(:m, "NIP: ") %>
  <%= text_field_tag(:m,value=@company.nip) %>
  </br>

  <%= label_tag(:p,"Postal Code: ") %>
  <%= text_field_tag(:p,value=@company.postal_code) %>
  </br>

  <%= label_tag(:c,"City: ") %>
  <%= text_field_tag(:c,value=@company.city) %>
  </br>

  <%= label_tag(:s,"Street: ") %>
  <%= text_field_tag(:s,value=@company.street) %>
  </br>

  <%= hidden_field_tag(:button,"save") %>

  <%= submit_tag("Save changes") %>
<% end %>

<p>Flaga:<%= @changed_flag %></p>
<p>ITEM.NAME: <%= @item %>
<% #byebug %>

</div>
