<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
    <li><%= link_to "Companies: add new2", companies_new2_path %></li>
  </ul>
</nav>
</div>


<div class="container">
<h1>Companies#Edit2</h1>
<p>Find me in app/views/companies/edit2.html.erb</p>

<%= form_tag("/companies/update", method: "patch") do %>
  <% if(@radio_company=='true')%>
    <%= radio_button_tag(:company_type,"company",checked="true") %>
    <%= label_tag(:company_type_company, "New company") %>
    <%= radio_button_tag(:company_type,"person") %>
    <%= label_tag(:company_type_person, "New private person") %>
  <% elsif(@radio_company=='false') %>
    <%= radio_button_tag(:company_type,"company") %>
    <%= label_tag(:company_type_company, "New company") %>
    <%= radio_button_tag(:company_type,"person",checked="true") %>
    <%= label_tag(:company_type_person, "New private person") %>
  <% else %>
    <%= radio_button_tag(:company_type,"company",checked="true") %>
    <%= label_tag(:company_type_company, "New company") %>
    <%= radio_button_tag(:company_type,"person") %>
    <%= label_tag(:company_type_person, "New private person") %>
  <% end %>
  </br>

  <%= label_tag(:n, "Name: ") %>
  <%= text_field_tag(:n,value=@company.name) %>
  </br>

  <%= label_tag(:fn, "Family Name (for private persons): ") %>
  <%= text_field_tag(:fn,value=@company.family_name) %>
  </br>

  <%= label_tag(:m, "NIP: ") %>
  <%= text_field_tag(:m,value=@company.nip) %>
  </br>

  <%= label_tag(:ps, "PESEL (for private persons):") %>
  <%= text_field_tag(:ps,value=@company.nip) %>
  </br>

  <%= label_tag(:p,"Postal Code: ") %>
  <%= text_field_tag(:p,value=@company.postal_code) %>
  </br>

  <%= label_tag(:c,"City: ") %>
  <%= text_field_tag(:c,value=@company.city) %>
  </br>

  <%= label_tag(:s,"Street: ") %>
  <%= text_field_tag(:s,value=@company.street) %>
  </br>

  <%= hidden_field_tag(:id_company,value=@company.id) %>

  <%= submit_tag("Save changes") %>
<% end %>
</br>
<%= form_tag("/companies/list", method: "post") do %>
  <%= submit_tag("Powrot do listy") %>
<% end %>
</div>
