<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
  </ul>
</nav>
</div>


<div class="container">
  <h1>Companies#list</h1>
    <p>Find me in app/views/companies/list.html.erb</p>

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name:</th>
        <th>(NIP | PESEL ) </th>
        <th>Street: </th>
        <th>Postal Code: </th>
        <th>City: </th>
        <th>Utworzony: </th>
        <th>Zmodyfikowany: </th>
        <th>Edytuj</th>
        <th>Usun</th>
      </tr>
      <% @companies.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <table>
            <tr>
              <td><%= item.name %></td>
            </tr>
            <tr>
              <td><%= item.family_name %>
              <% if(item.company_type==true) %>

              <% elsif(item.company_type==nil) %>
                (TYPE ERROR)
              <% else %>
                <% item.family_name %>
              <% end %>
              </td>
            </tr>
          </table>
        </td>

        <td>
          <table>
            <tr>
              <td>
                <% if(item.company_type==true) %>
                  (NIP)
                <% elsif(item.company_type==nil) %>
                  (TYPE ERROR)
                <% else %>
                  (PESEL)
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= item.nip %>
              </td>
            </tr>
          </table>
        </td>
        <td><%= item.street %></td>
        <td><%= item.postal_code %></td>
        <td><%= item.city %></td>
        <td><%= item.created_at %></td>
        <td><%= item.updated_at %></td>
        <td>
            <%= form_tag("/companies/edit", method: "patch") do %>
            <%= hidden_field_tag(:id_company,item.id) %>
            <%= submit_tag("Edit by form") %>
            <% end %>
        </td>
        <td>
            <%= form_tag("/companies/delete", method: "post") do %>
            <%= hidden_field_tag(:id,value=item.id) %>
            <%= hidden_field_tag(:name,value=item.name) %>
            <%= hidden_field_tag(:info,"informacja tajna") %>
            <%= submit_tag("Delete company") %>
            <% end %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
