<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
  </ul>
</nav>
</div>


<div class="container">
  <h1>Companies#list</h1>
    <p>Find me in app/views/companies/list.html.erb</p>

    <table>
      <tr>
        <th>ID</th>
        <th>Name:</th>
        <th>NIP: </th>
        <th>Street: </th>
        <th>Postal Code: </th>
        <th>Utworzony: </th>
        <th>Zmodyfikowany: </th>
      </tr>
      <% @companies.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.nip %></td>
        <td><%= item.street %></td>
        <td><%= item.postal_code %></td>
        <td><%= item.city %></td>
        <td><%= item.created_at %></td>
        <td><%= item.updated_at %></td>
        <td>
            <%= form_tag("/companies/edit", method: "patch") do %>
            <%= hidden_field_tag(:id_company,item.id) %>
            <%= submit_tag("Edit by form") %>
            <% end %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
