<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
  </ul>
</nav>
</div>

<div class="container">
<h1>Companies#new</h1>
<p>Find me in app/views/companies/list.html.erb</p>



<%= form_tag("/companies/new", method: "post") do %>
  <%= radio_button_tag(:type,"company") %>
  <%= label_tag(:type_company, "New company") %>
  <%= radio_button_tag(:type,"person") %>
  <%= label_tag(:type_person, "New private person") %>

  <table>
    <tr>
      <td>
        <%= label_tag(:n, "Name: ") %>
        <%= text_field_tag(:n,value=@name) %>
        </br>
      </td>
      <td>
        <%= label_tag(:fn, "Family Name (for private persons): ") %>
        <%= text_field_tag(:fn,value=@name) %>
        </br>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <%= label_tag(:m, "NIP: ") %>
        <%= text_field_tag(:m,value=@nip) %>
        </br>
      </td>
      <td>
        <%= label_tag(:ps, "PESEL (for private persons):") %>
        <%= text_field_tag(:ps,value=@nip) %>
      </td>
    </tr>
  <table>

  <%= label_tag(:p,"Postal Code: ") %>
  <%= text_field_tag(:p,value=@postal) %>
  </br>

  <%= label_tag(:c,"City: ") %>
  <%= text_field_tag(:c,value=@city) %>
  </br>

  <%= label_tag(:s,"Street: ") %>
  <%= text_field_tag(:s,value=@street) %>
  </br>

  <%= hidden_field_tag(:button,"yes") %>

  <%= submit_tag("Save") %>
<% end %>

<% #byebug %>
<p>Komunikaty</p>
<p>Komunikat: <%= @msg %></p>
<p>Type: <%= @type %></p>

</div>
